body {
  background-color: #d8e2cc;
  font-family: 'Old Standard TT', serif;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 72px;
  text-align: center;
}

.movie-poster {
  max-width: 250px;
  max-height: 700px;
}

#movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#movie {
  max-width: 28vw;
  margin: 20px;
  text-align: center;
}

#filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px
}

#filters * {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

button {
  font-family: 'Old Standard TT', serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
}
