body {
  background-color: #d8e2cc;
  font-family: 'Old Standard TT', serif;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 72px;
  text-align: center;
}

.movie-poster {
  max-width: 250px;
  max-height: 700px;
}

#movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
}

#movie {
  max-width: 20vw;
  margin: 10px;
  text-align: center;
}
